<ion-header>
    <ion-toolbar>
      <ion-title>
        Saved
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-list>  
      
      <ion-card *ngFor="let listing of savedListings" (click)="navToListingDetails(listing)">
        <img src={{listing.getImageLink()}} width="100px"/>
        <h3 class="listing-name"> {{listing.getListingName()}} </h3>
      </ion-card>
  
    </ion-list>
  
  </ion-content>
  
  <ion-footer>
    <ion-button expand="block"> Find homes </ion-button>
  </ion-footer>
  